.wrapper, .signs {
  font-size: 1.5em;

}
.display{
  display: grid;
  grid-template-columns: 150px 50px;
}
.numbers{

  display: grid;
  grid-template-columns: 50px 50px 50px;
  text-align: center;

  background-color: aliceblue;

}
.num{
  border: 1px solid rgba(131,181,237,0.18);
}

.num:last-child{
  width: 150px;
  text-align: center;

}
.sign{
  border: 1px solid rgba(131,181,237,0.18);
}
.signs {

  border: 1px solid rgba(131,181,237,0.18);
  display: grid;
  text-align: center;
  grid-template-rows: 50px 50px 50px 50px ;
  background-color: rgba(127,14,8,0.87)

}

.sign {

}

.selected {

}

.inner {

}

.numbers {
  font-size: 1.5em;
}

.result {
  font-size: 3em;
}
